<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main-body-content.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>

  <body id="body">

    <%- include('./partials/_header') %>


    <div id=main-body-content>
      <div id="map-info-area">
        <h1>Explore Maps</h1>

        <div class="card border-primary mb-2">
          <div class="card-header">Suzy Kerr</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Suzy's Top 10 Dog Parks</h5>
            <small id="map-author-rating">
              <p class="card-text">Suzy Kerr</p>
              <p class="card-text">4.5/5</p>
            </small>
          </div>
        </div>

        <div class="card border-primary mb-2">
          <div class="card-header">Robert Mills</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Best Open Space Parks</h5>
            <small id="map-author-rating">
              <p class="card-text">Robert Mills</p>
              <p class="card-text">4.1/5</p>
            </small>
          </div>
        </div>

        <div class="card border-primary mb-1">
          <div class="card-body text-primary">
            <h5 class="card-title">Suzy's Top 10 Dog Parks</h5>
            <small>
              <p class="card-text mb-0">Map by Suzy Kerr</p>
              <p class="card-text mb-0">Average Rating 4.3/5 from 15 users</p>
              <p class="card-text mb-0">4 user reviews. Click to view</p>
            </small>
          </div>
        </div>

        <div class="card border-dark mb-1">
          <div class="card-body text-dark">
            <h5 class="card-title">Bowmont Park</h5>
          </div>
        </div>

        <div class="card border-dark mb-1">
          <div class="card-body text-dark">
            <h5 class="card-title">Nose Hill Park</h5>
          </div>
        </div>


        <div class="card border-primary mb-1">
          <div class="card-body text-primary">
            <h5 class="card-title">Suzy's Top 10 Dog Parks</h5>
            <small>
              <p class="card-text mb-0">Map by Suzy Kerr</p>
              <p class="card-text mb-0">Average Rating 4.3/5 from 15 users</p>
              <p class="card-text mb-0">4 user reviews. Click to view</p>
            </small>
          </div>
        </div>

        <div class="card border-dark mb-1">
          <div class="card-header bg-transparent border-success">Great Selection!</div>
          <div class="card-body text-dark">
            <p class="card-text">Great list! I've been to 7 of these and agree with her picks. Definitely worth checking out.</p>
          </div>
          <div class="card-footer bg-transparent border-success text-muted">Mark White</div>
        </div>

        <div class="card border-dark mb-1">
          <div class="card-header bg-transparent border-success">Love these!</div>
          <div class="card-body text-dark">
            <p class="card-text">Visited all of these after seeing this list.</p>
          </div>
          <div class="card-footer bg-transparent border-success text-muted">Jack Black</div>
        </div>

      </div>
      <div class="material-icons" id="map-area">
        <section class="map-container">
          <div id="mapid"></div>
        </section>
        <script>
          const mymap = L.map('mapid').setView([51.049999, -114.066666], 11);
          L.tileLayer('https://api.maptiler.com/maps/streets/256/{z}/{x}/{y}.png?key=VOUVJ6EuCCKH8cA2JsJb', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
          }).addTo(mymap);
          const helloPopup = L.popup().setContent('Hello World!');
          L.easyButton(`<span class= "material-icons">get_app</span> `, function(btn, map){
            $.ajax({
              url:"api/maps",
              method:'POST'})
              .then(res => console.log('this is getting somewhere'));
          helloPopup.setLatLng(map.getCenter()).openOn(map);
          }).addTo(mymap );
          $(document).ready(function() {
            $.ajax('https://api.ipify.org?format=json', {method: 'GET'})
              .then(res =>
              $.ajax(`https://freegeoip.app/json/${res.ip}`))
                .then(res => {
                  console.log(res);
                  const lat = res.latitude;
                  const long = res.longitude;
                  mymap.setView([lat,long], 13);
                });
            mymap.on('click', function(e) {
              console.log(e.latlng);
              const lat = e.latlng.lat;
              const long = e.latlng.lng;
              let marker = L.marker([lat,long], {
                draggable: true
              })
              .addTo(this)
              marker.bindPopup(`<span>hey im poppin here</span><br> Lat:${lat}  Long:${long}`);
              marker.on('mouseover', () => marker.openPopup());
              marker.on('mouseout', () => marker.closePopup());
              marker.on('moveend', function(e) {console.log(marker.getLatLng())
                let newlatlng = marker.getLatLng();

                marker.getPopup().setContent(`newcoords = ${newlatlng}`).update();
              });


              });
          });
        </script>
      </div>
    </div>


    <script type="text/javascript" src="/scripts/nav-create-map.js"></script>
    <script type="text/javascript" src="/scripts/nav-explore-maps.js"></script>
    <script type="text/javascript" src="/scripts/nav-user-profile.js"></script>
    <script type="text/javascript" src="/scripts/leaflet-render-map.js"></script>
    <script type="text/javascript" src="/scripts/leaflet-submit-map.js"></script>

    <!-- For Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
