
.transparent-on-map::after {
  opacity: 0.8;
  pointer-events: none;
  position: absolute;
  width: 100%;
  box-shadow: inset 5px 5px 5px black;
  z-index: 999;
}
#main-body-content {
  display: flex;
  flex-direction: row;
  height: 90vh;

  #map-area{
    // border: 2px blue solid;
    opacity: 0.7;
    position: relative;
    width: 70%;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.19);
  }
}
#cardimg{
  width: 100%;
  transform: translateY(-50%);
  position: relative;
  top: 50%;

}
.imgContainer{
  overflow: hidden;
  height: 20vh;
}

#map-info-area {
  // border: 2px red solid;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);

  .card {
    width: 95%;
    opacity: 0.8;
  }
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    border: solid 1px rgba(104, 104, 252, 0.842);
  }

  #map-author-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}
