#main-body-content {
  display: flex;
  flex-direction: row;
  max-height: 90vh;

  #map-area {
    border: 2px blue solid;
    width: 70%;
  }
}


#map-info-area {
  border: 2px red solid;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .card {
    width: 95%
  }

  #map-author-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}
